/**
 * Main CSS File
 *
 * @package ChefOehlala
 * @since 2016
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Variable file 
 * place global variables here:
 *
 * @package ChefOehlala
 * @since 2016
 */
/**
 * Mixin file 
 * All our custom mixins
 *
 * @package ChefOehlala
 * @since 2016
 */
/* Boxsizing shortcut: */
/* Transform shortcuts */
/* Styling placeholders: */
/* Retina images: */
/* "Hard" gradients: */
/* REM font sizes: */
/* generated with grunt-sass-globbing */
/**
 * Legacy Css styling, with some nice-haves
 *
 * @package ChefOehlala
 * @since 2016
 */
* {
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  outline: none;
}

/* set all widths: */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

p, a, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ul, ol {
  margin: 0;
}

table {
  width: 100%;
}

.fullwidth, .onethird, .twothird, .half, .onefourth, .onefifth, .onesixth, .twofifth {
  float: left;
}

.fullwidth {
  width: 100%;
}

.onethird {
  width: 33%;
}

.twothird {
  width: 66%;
}

.half {
  width: 50%;
}

.onefourth {
  width: 25%;
}

.onefifth {
  width: 20%;
}

.onesixth {
  width: 16.666666667%;
}

.twofifth {
  width: 40%;
}

.cuisine-step {
  display: none;
}

.step-page {
  float: left;
  margin-right: 15px;
}

.pull-right {
  float: right;
}

.onethird.nomargin, .twothird.nomargin, .half.nomargin, .onefourth.nomargin {
  padding-right: 0;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.aligncenter {
  margin: 0 auto 20px auto;
}

.wp-caption-text {
  padding-bottom: 20px;
}

/* Increase frame-rate when scrolling by not registering pointer-events:*/
.disable-hover, .disable-hover * {
  pointer-events: none !important;
}

/**
* normalize.css v3.0.1
* git.io/normalize
*
* @package ChefOehlala
* @since 2016
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Increase frame-rate when scrolling by not registering pointer-events:*/
.disable-hover, .disable-hover * {
  pointer-events: none !important;
}

/* Mustache link: */
a[class^="mustache"] {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  float: none;
  position: absolute;
  background: url("../images/mustache.png");
  width: 80px;
  height: 15px;
  left: 50%;
  margin-left: -40px;
  top: 5px;
  opacity: 1;
}

a[class^="mustache"]:hover {
  opacity: .5;
}

a.mustache--black {
  background-position: 0 20px;
}

/* Screenreader text support: */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #fff;
  border-radius: 3px;
  clip: auto !important;
  color: crimson;
  display: block;
  font-size: 0.875rem;
  height: auto;
  left: 5px;
  padding: 15px 23px 14px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/**
* Forms CSS file 
* Styling for forms:
* 
*/
.form-column .form {
  padding: 0;
}
.form-column .form .field-wrapper > label {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.form-column .form .field-wrapper > label:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  height: auto;
  left: 5px;
  padding: 15px 23px 14px;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.form-column .form .field-wrapper.checkbox label, .form-column .form .field-wrapper.select label, .form-column .form .field-wrapper.radio label {
  clip: auto;
  position: relative !important;
  height: auto;
  width: auto;
  overflow: visible;
  display: block;
  margin-bottom: 5px;
}
.form-column .form .field-wrapper.radio label {
  margin-bottom: 10px;
}

.form .form-fields .field-wrapper {
  position: relative;
}
.form .form-fields .field-wrapper .validation-error {
  background: #ae2d30;
  padding: 4px 8px;
  color: #FFF;
  position: absolute;
  top: -32px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.form .form-fields .field-wrapper .validation-error:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ae2d30;
}
.form .form-fields .field-wrapper input, .form .form-fields .field-wrapper textarea {
  border: 1px solid #e1e1e1;
  color: #444;
}
.form .form-fields .field-wrapper input.placeholder, .form .form-fields .field-wrapper textarea.placeholder {
  color: #444;
}
.form .form-fields .field-wrapper input:-moz-placeholder, .form .form-fields .field-wrapper textarea:-moz-placeholder {
  color: #444;
}
.form .form-fields .field-wrapper input::-moz-placeholder, .form .form-fields .field-wrapper textarea::-moz-placeholder {
  color: #444;
}
.form .form-fields .field-wrapper input::-webkit-input-placeholder, .form .form-fields .field-wrapper textarea::-webkit-input-placeholder {
  color: #444;
}
.form .form-fields .field-wrapper input:focus, .form .form-fields .field-wrapper textarea:focus {
  border: 1px solid crimson;
}
.form .form-fields .field-wrapper input:focus + .validation-error, .form .form-fields .field-wrapper textarea:focus + .validation-error {
  opacity: 1;
}
.form .form-fields .field-wrapper input.validated-false:focus, .form .form-fields .field-wrapper textarea.validated-false:focus {
  border: 1px solid #ae2d30;
}
.form .form-fields .field-wrapper textarea {
  height: 100px;
  background-position: 97.5% 48% !important;
}
.form .form-fields .field-wrapper.html-field h3 {
  margin-bottom: 15px;
}
.form .form-fields .field-wrapper.radio {
  margin-top: 5px;
}
.form .form-fields .field-wrapper.radio input {
  display: none !important;
}
.form .form-fields .field-wrapper.radio .subfield-wrapper {
  display: block;
  margin-bottom: 5px;
}
.form .form-fields .field-wrapper.radio .subfield-wrapper label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  font-size: 14px;
  top: -4px;
}
.form .form-fields .field-wrapper.radio .subfield-wrapper label:hover:before {
  background: #d4d4d4;
}
.form .form-fields .field-wrapper.radio .subfield-wrapper label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 17px;
  padding-top: 3px;
  padding-right: 1px;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: #e1e1e1;
  border-radius: 50%;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}
.form .form-fields .field-wrapper.radio input[type=radio]:checked + label:before {
  content: "\2022";
  color: crimson;
  font-size: 42px;
  font-size: 2.625rem;
  text-align: center;
  line-height: 16px;
}
.form .form-fields .field-wrapper.checkbox input[type=checkbox] {
  display: none;
}
.form .form-fields .field-wrapper.checkbox .checkbox label:before {
  border-radius: 3px;
}
.form .form-fields .field-wrapper.checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  font-size: 1.875rem;
  color: crimson;
  text-align: center;
  line-height: 15px;
}
.form .form-fields .field-wrapper.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}
.form .form-fields .field-wrapper.checkbox label:hover:before {
  background: #d4d4d4;
}
.form .form-fields .field-wrapper.checkbox label:before {
  content: "\2713";
  color: transparent;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  width: 20px;
  height: 18px;
  padding-bottom: 2px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: #e1e1e1;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}
.form .form-fields .field-wrapper.checkboxes > label {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  cursor: auto;
}
.form .form-fields .field-wrapper.checkboxes > label:before {
  display: none;
}
.form .form-fields .field-wrapper .field.placeholder {
  color: #c4c4c4;
}
.form .form-fields .field-wrapper .field:-moz-placeholder {
  color: #c4c4c4;
}
.form .form-fields .field-wrapper .field::-moz-placeholder {
  color: #c4c4c4;
}
.form .form-fields .field-wrapper .field::-webkit-input-placeholder {
  color: #c4c4c4;
}

.form-footer {
  margin-top: 10px;
}
.form-footer .submit-form {
  float: right;
  background: crimson;
}
.form-footer .submit-form:hover {
  background: blue;
}

.select {
  position: relative;
  z-index: 2;
  cursor: pointer;
  position: relative;
}
.select select {
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: #FFF;
}
.select select:focus {
  outline: none;
}
.select:after {
  content: "";
  height: 39px;
  width: 44px;
  pointer-events: none;
  display: block;
  position: absolute;
  background: crimson;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.select:before {
  content: "\f078";
  position: absolute;
  right: 0;
  width: 44px;
  bottom: 9px;
  color: #fff;
  text-align: center;
  font-family: fontAwesome;
  font-size: 20px;
  font-size: 1.25rem;
  pointer-events: none;
  z-index: 2;
}
.select:hover:after {
  background: blue;
}

.ui-datepicker {
  width: 250px;
  background: #FFF;
  z-index: 10;
  border: 1px solid #e1e1e1;
  padding: 5px;
  box-shadow: 0 0 5px #d4d4d4;
  display: none;
}
.ui-datepicker a, .ui-datepicker a:visited {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 5px;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  margin-bottom: 10px;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.ui-datepicker .ui-datepicker-prev:hover span, .ui-datepicker .ui-datepicker-next:hover span {
  color: crimson;
}
.ui-datepicker .ui-state-default {
  color: #444;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.ui-datepicker .ui-state-default.ui-state-active {
  color: blue;
}
.ui-datepicker .ui-state-default:hover {
  color: crimson;
}

.form .loader > div {
  background: crimson !important;
}

.form.msg .message {
  background: crimson;
}
.form.msg .message p {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
}

.form .form-fields .field-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
}
.form .form-fields .field-row .field-wrapper {
  margin-bottom: 15px;
}
.form .form-fields .field-row .field-wrapper:nth-child(odd) {
  margin-right: 15px;
}
.form .form-fields .field-row .field-wrapper {
  margin-right: 15px;
}
.form .form-fields .field-row .field-wrapper:last-of-type {
  margin-right: 0;
}

.form-column > h2 {
  margin-bottom: 30px;
}

/**
 * Grid styling 
 *
 * @package ChefOehlala
 * @since 2016
 */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Mixin file 
 * All our custom mixins
 *
 * @package ChefOehlala
 * @since 2016
 */
/* Boxsizing shortcut: */
/* Transform shortcuts */
/* Styling placeholders: */
/* Retina images: */
/* "Hard" gradients: */
/* REM font sizes: */
/**
 * Textual content styling 
 * 
 *
 * @package ChefOehlala
 * @since 2016
 */
.textual-content h1, .textual-content h2, .textual-content h3, .textual-content h4, .textual-content h5, .textual-content h6, .textual-content p, .textual-content ul, .column.content h1, .column.content h2, .column.content h3, .column.content h4, .column.content h5, .column.content h6, .column.content p, .column.content ul, .content-wrapper h1, .content-wrapper h2, .content-wrapper h3, .content-wrapper h4, .content-wrapper h5, .content-wrapper h6, .content-wrapper p, .content-wrapper ul {
  margin-top: 0;
  margin-bottom: 15px;
}
.textual-content h1, .textual-content h2, .textual-content h3, .textual-content h4, .textual-content h5, .textual-content h6, .column.content h1, .column.content h2, .column.content h3, .column.content h4, .column.content h5, .column.content h6, .content-wrapper h1, .content-wrapper h2, .content-wrapper h3, .content-wrapper h4, .content-wrapper h5, .content-wrapper h6 {
  margin-top: 30px;
}
.textual-content h2:first-child, .column.content h2:first-child, .content-wrapper h2:first-child {
  margin-top: 0;
}
.textual-content ul, .textual-content ol, .column.content ul, .column.content ol, .content-wrapper ul, .content-wrapper ol {
  padding-left: 20px;
  margin-left: 0;
}
.textual-content p, .column.content p, .content-wrapper p {
  line-height: 135%;
}
.textual-content img, .column.content img, .content-wrapper img {
  max-width: 100%;
  height: auto;
}
.textual-content img.size-full, .textual-content img.size-large, .column.content img.size-full, .column.content img.size-large, .content-wrapper img.size-full, .content-wrapper img.size-large {
  width: 100%;
}
.textual-content img.size-medium, .column.content img.size-medium, .content-wrapper img.size-medium {
  width: 45%;
}
.textual-content .wp-caption, .column.content .wp-caption, .content-wrapper .wp-caption {
  max-width: 100% !important;
}
.textual-content .wp-caption p, .column.content .wp-caption p, .content-wrapper .wp-caption p {
  font-size: 1rem;
  display: block;
  text-align: center;
}
.textual-content .intro, .column.content .intro, .content-wrapper .intro {
  padding-bottom: 15px;
}
.textual-content .intro p, .textual-content .intro strong, .textual-content .intro i, .textual-content .intro li, .textual-content .intro span, .textual-content .intro a, .column.content .intro p, .column.content .intro strong, .column.content .intro i, .column.content .intro li, .column.content .intro span, .column.content .intro a, .content-wrapper .intro p, .content-wrapper .intro strong, .content-wrapper .intro i, .content-wrapper .intro li, .content-wrapper .intro span, .content-wrapper .intro a {
  font-size: 1.25rem;
  line-height: 150%;
  padding-bottom: 15px;
}

blockquote {
  position: relative;
  border: 1px dotted #aaaaaa;
  border-left: none;
  border-right: none;
  margin: 25px 0;
  padding: 10px 15px;
  text-align: center;
}
blockquote p, blockquote i, blockquote li, blockquote span, blockquote a {
  font-size: 1.5rem;
  font-style: italic;
  font-family: "lato", sans-serif;
  color: #c4c4c4;
  margin-bottom: 0;
}

a, a:visited {
  cursor: pointer;
}

.column a, .column a:visited {
  color: crimson;
}
.column a:hover, .column a:visited:hover {
  color: blue;
}

/**
 * Base typography
 *
 * @package ChefOehlala
 * @since 2016
 */
h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: "lato", serif;
  line-height: 135%;
}

p, a, span, ol, ul, li, strong, em, i, b, big, small, tt, abbr, acronym,
cite, code, dfn, em, kbd, samp, var, br, sub, sup, button, input, label,
select, textarea {
  color: #444;
  font-family: "lato", sans-serif;
  line-height: 135%;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

/**
 * UI CSS
 * Buttons, links, etc.
 *
 * @package ChefOehlala
 * @since 2016
 */
.button, .form-footer .submit-form, .btn, a[class^="btn--"], .photo .section-wrapper a, .photo .section-wrapper a:visited, .more-link, .more-link:visited, .button:visited, .form-footer .submit-form:visited, .btn:visited, a[class^="btn--"]:visited, .photo .section-wrapper a:visited, .more-link:visited, .column .button, .column .form-footer .submit-form, .form-footer .column .submit-form, .column .btn, .column a[class^="btn--"], .column .photo .section-wrapper a, .photo .section-wrapper .column a, .column .more-link, .column .button:visited, .column .form-footer .submit-form:visited, .form-footer .column .submit-form:visited, .column .btn:visited, .column a[class^="btn--"]:visited, .column .photo .section-wrapper a:visited, .photo .section-wrapper .column a:visited, .column .more-link:visited {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  padding: 12px 14px;
  background: crimson;
  display: inline-block;
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
  line-height: 145%;
  text-shadow: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover, .form-footer .submit-form:hover, .btn:hover, a[class^="btn--"]:hover, .photo .section-wrapper a:hover, .more-link:hover, .button:visited:hover, .form-footer .submit-form:visited:hover, .btn:visited:hover, a[class^="btn--"]:visited:hover, .photo .section-wrapper a:visited:hover, .more-link:visited:hover, .column .button:hover, .column .form-footer .submit-form:hover, .form-footer .column .submit-form:hover, .column .btn:hover, .column a[class^="btn--"]:hover, .column .photo .section-wrapper a:hover, .photo .section-wrapper .column a:hover, .column .more-link:hover, .column .button:visited:hover, .column .form-footer .submit-form:visited:hover, .form-footer .column .submit-form:visited:hover, .column .btn:visited:hover, .column a[class^="btn--"]:visited:hover, .column .photo .section-wrapper a:visited:hover, .photo .section-wrapper .column a:visited:hover, .column .more-link:visited:hover {
  background: #ad102f;
  color: #fff;
}

.readmore {
  line-height: 100%;
}

a, a:visited {
  color: #444;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  text-decoration: underline;
}

.single-nav {
  border-top: 2px solid #efefef;
  margin: 30px 0;
  text-align: center;
  padding: 30px 30px 0 30px;
}
.single-nav a, .single-nav a:visited {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
  font-size: 1.25rem;
}
.single-nav a i, .single-nav a:visited i {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.single-nav a:hover, .single-nav a:hover i, .single-nav a:visited:hover, .single-nav a:visited:hover i {
  color: crimson;
}

.section .socials {
  text-align: center;
}
.section .socials h2 {
  margin-bottom: 10px;
}
.section .socials .socials-icons a, .section .socials .socials-icons a:visited {
  margin: 0 10px 10px 0;
  background: crimson;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.section .socials .socials-icons a i, .section .socials .socials-icons a:visited i {
  color: #fff;
}
.section .socials .socials-icons a:hover, .section .socials .socials-icons a:visited:hover {
  background: blue;
}
.section .socials .socials-icons a:last-of-type, .section .socials .socials-icons a:visited:last-of-type {
  margin-right: 0;
}

.share-buttons .share-text {
  font-size: 1.25rem;
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
}
.share-buttons a, .share-buttons a:visited {
  line-height: 100%;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
}
.share-buttons a i, .share-buttons a:visited i {
  color: #fff;
}
.share-buttons a .count, .share-buttons a:visited .count {
  display: none;
}
.share-buttons a:hover, .share-buttons a:visited:hover {
  background: #ad102f;
  border-bottom: 5px solid #ad102f;
}
.share-buttons > *:last-child {
  margin-right: 0;
}

.pages {
  margin-top: 30px;
  text-align: center;
}
.pages a, .pages a:visited, .pages span {
  width: 44px;
  height: 44px;
  background: crimson;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-size: 1.25rem;
  padding-top: 8px;
}
.pages a, .pages a:visited {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #444;
  background: #efefef;
}
.pages a:hover, .pages a:visited:hover {
  background: blue !important;
  color: #FFF;
}
.pages span {
  background: crimson;
}
.pages *:last-child {
  margin-right: 0;
}

/**
 * Variable file 
 * place global variables here:
 *
 * @package ChefOehlala
 * @since 2016
 */
/** social colors  */
/**
 * Footer CSS file  
 * Styling for the footer
 *
 * @package ChefOehlala
 * @since 2016
 */
footer .copyright {
  background: #7eb974;
  padding: 10px 0;
}
footer .copyright .container {
  color: #fff;
}
footer .copyright .container span {
  color: #fff;
}
footer .copyright .container a, footer .copyright .container a:visited {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
}

/**
 * General CSS file 
 * Styling for all general classes
 *
 * @package ChefOehlala
 * @since 2016
 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  font-size: 1rem;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  line-height: 135%;
}

/**
 * These few lines are for the sticky-footer
 */
#main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -42px;
  position: relative;
}

#main:after {
  content: "";
  display: block;
}

.footer, #main:after {
  height: 42px;
}

/**
 * Firefox hack for flexbox
 */
* {
  min-height: 0;
  min-width: 0;
}

/**
 * General Classes:
 */
.section .section-wrapper {
  background-size: cover !important;
  background-position: center center !important;
  padding: 30px 0;
}
.section .section-wrapper .column-wrapper {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.section .fullwidth.column-wrapper .column {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 770px;
  -moz-flex: 0 1 770px;
  -ms-flex: 0 1 770px;
  flex: 0 1 770px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 15px;
  text-align: center;
}

.date {
  text-align: right;
}
.date div {
  margin-bottom: 10px;
}
.date span {
  font-size: 14px;
  font-size: 0.875rem;
  color: #ea8f2b;
}

/**
 * Header CSS file 
 * Styling for the header:
 *
 * @package ChefOehlala
 * @since 2016
 */
header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 2px solid #f1f1f1;
}
header .container {
  min-height: 78px;
  position: relative;
}
header .logo {
  max-width: 180px;
  padding: 0;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
header .logo img {
  display: block;
  width: 100%;
  height: auto;
}

#main {
  padding-top: 80px;
}

/**
 * Header CSS file 
 * Styling for navigations:
 *
 * @package ChefOehlala
 * @since 2016
 */
header {
  /**
  * Different styling according to menu position.
  */
  /**
   * Mobile:
   */
}
header nav {
  text-align: right;
  float: right;
  width: 100%;
  display: block;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: right;
  font-size: 0px;
}
header nav li {
  display: inline-block;
  margin-left: 8px;
  position: relative;
}
header nav li a, header nav li a:visited {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  font-size: 1.125rem;
  display: block;
  text-decoration: none;
  padding: 8px 12px;
  color: #444;
  border-bottom: 1px solid transparent;
  font-weight: bold;
}
header nav li a:hover, header nav li a:visited:hover {
  color: #ea8f2b;
}
header nav li .sub-menu {
  display: none;
}
header nav li:hover .sub-menu {
  position: absolute;
  z-index: 2;
  right: 0;
  display: block;
  background: #684467;
  width: 200%;
}
header nav li:hover .sub-menu li {
  margin-left: 0;
  width: 100%;
}
header nav li:hover .sub-menu li a, header nav li:hover .sub-menu li a:visited {
  color: #fff;
}
header.has-top-nav, header.has-main-nav {
  padding: 10px 0;
}
header.has-top-nav nav, header.has-main-nav nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header.has-top-nav.current-menu-item a, header.has-top-nav.current-menu-item a:visited {
  color: #684467;
}
header.has-top-nav.current-menu-item a:hover, header.has-top-nav.current-menu-item a:visited:hover {
  color: #684467;
}
header.has-top-nav nav:first-of-type li a {
  font-size: 14px;
  font-size: 0.875rem;
}
header.has-top-nav.has-main-nav {
  padding: 0;
}
header.has-top-nav.has-main-nav nav {
  top: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
header.has-top-nav.has-main-nav nav.main-nav {
  top: auto;
  bottom: -2px;
}
header .mobile-nav {
  display: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
header .top-nav li.current-menu-item a, header .top-nav li.current-menu-item a:visited, header .top-nav li.current_page_parent a, header .top-nav li.current_page_parent a:visited {
  color: #ea8f2b;
}
header .main-nav {
  display: inline-block;
  width: auto;
  right: 0;
  background: #7eb974;
}
header .main-nav ul li {
  margin-left: 0;
}
header .main-nav ul li a, header .main-nav ul li a:visited {
  color: #FFF;
}
header .main-nav ul li a:hover, header .main-nav ul li a:visited:hover {
  background: #ea8f2b;
  color: #FFF;
}
header .main-nav ul li.current-menu-item, header .main-nav ul li.current_page_parent {
  background: #ea8f2b;
}
header .mobile-nav {
  position: absolute;
  right: 15px;
  display: none;
  width: 290px;
}
header .mobile-nav ul {
  width: 100%;
}
header .mobile-nav ul li {
  display: block;
}
header .menu-switch {
  width: 44px;
  height: 44px;
  padding-top: 11px;
  text-align: center;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 29px;
  z-index: 2;
  display: none;
}
header .menu-switch i {
  font-size: 1.5rem;
  color: #fff;
}
header .menu-switch:hover {
  background: rgba(0, 0, 0, 0.25);
}

.photo .section-wrapper {
  padding: 100px;
}
.photo .section-wrapper .column-wrapper {
  padding: 0 10%;
}
.photo .section-wrapper h2, .photo .section-wrapper p {
  color: #FFF;
  text-shadow: 1px 1px #444;
  margin-bottom: 15px;
  margin-top: 0;
}
.photo .section-wrapper a, .photo .section-wrapper a:visited {
  margin-top: 15px;
  font-weight: normal;
}
.photo .section-wrapper a:hover, .photo .section-wrapper a:visited:hover {
  background: #ce7514;
  border-bottom: 5px solid #ce7514;
}

/**
 * All custom styling for columns
 *
 * @package ChefOehlala
 * @since 2016
 */
.column.slider-column {
  margin-bottom: 35px;
}
.column.slider-column .main-gallery.nav-arrows-true {
  padding: 0 60px;
}
.column.slider-column .main-gallery .gallery-cell {
  margin-right: 2%;
}
.column.slider-column .main-gallery .gallery-cell img {
  width: 100%;
  display: block;
  height: auto;
}
.column.slider-column .main-gallery.images-1 .gallery-cell {
  width: 100%;
}
.column.slider-column .main-gallery.images-2 .gallery-cell {
  width: 49%;
}
.column.slider-column .main-gallery.images-3 .gallery-cell {
  width: 32.5%;
}
.column.slider-column .main-gallery.images-4 .gallery-cell {
  width: 23.5%;
}
.column.slider-column .main-gallery.images-5 .gallery-cell {
  width: 18.4%;
}
.column.slider-column .flickity-prev-next-button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background: #ea8f2b;
}
.column.slider-column .flickity-prev-next-button:hover {
  background: #684467;
}
.column.slider-column .flickity-prev-next-button .arrow {
  fill: #fff;
}
.column.slider-column .flickity-prev-next-button.previous {
  left: 0;
}
.column.slider-column .flickity-prev-next-button.next {
  right: 0;
}
.column.slider-column .flickity-page-dots {
  bottom: -35px;
  left: 0;
}
.column.slider-column .flickity-page-dots .dot.is-selected {
  background: #ea8f2b;
}
.column.slider-column .gallery-nav {
  margin-top: 30px;
}
.column.slider-column .gallery-nav img {
  width: 75px;
  height: auto;
  margin-right: 10px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.column.slider-column .gallery-nav img:last-child {
  margin-right: 0;
}
.column.slider-column .gallery-nav img:hover, .column.slider-column .gallery-nav img.is-selected {
  border: 2px solid #ea8f2b;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.column.video > h2 {
  margin-bottom: 15px;
}
.column.video .video-wrapper {
  position: relative;
  cursor: pointer;
}
.column.video .video-wrapper .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
}
.column.video .video-wrapper .video-overlay:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 80px;
  height: 80px;
  z-index: 101;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background: #ea8f2b;
  border-radius: 0;
  border-radius: 50%;
}
.column.video .video-wrapper .video-overlay:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -5px;
  border: 20px solid #fff;
  border-color: transparent transparent transparent #fff;
  width: 0;
  height: 0;
  z-index: 102;
}
.column.video .video-wrapper .video-overlay:before, .column.video .video-wrapper .video-overlay:after {
  pointer-events: none;
}
.column.video .video-wrapper .video-overlay:hover:before {
  background: #684467;
}
.column.video .video-wrapper:after, .column.video .video-wrapper:before {
  display: none;
}
.column.socials .socials-icons a, .column.socials .socials-icons a:visited {
  line-height: 100%;
}

.collection.list .block-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100% !important;
}
.collection.list .list-block, .collection.list .list-block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background: #f8f8f8;
  padding: 10px 15px 5px 15px;
  text-decoration: none;
  display: block;
  border-bottom: 5px solid transparent;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}
.collection.list .list-block .date, .collection.list .list-block:visited .date {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
.collection.list .list-block h2, .collection.list .list-block:visited h2 {
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.collection.list .list-block:hover, .collection.list .list-block:visited:hover {
  border-bottom: 5px solid #ea8f2b;
}
.collection.list .list-block:hover .date, .collection.list .list-block:visited:hover .date {
  color: #efa859;
}
.collection.list .list-block:hover h2, .collection.list .list-block:visited:hover h2 {
  color: #ea8f2b;
}
.collection.list .list-block:last-of-type, .collection.list .list-block:visited:last-of-type {
  margin: 0;
}

.section .fullwidth .collection.list .list-block, .section .fullwidth .collection.list .list-block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 49%;
  -moz-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}
.section .fullwidth .collection.list .list-block:nth-of-type(even), .section .fullwidth .collection.list .list-block:visited:nth-of-type(even) {
  margin-right: 0;
}
.section .fullwidth .collection.list .list-block:nth-last-child(-n+2), .section .fullwidth .collection.list .list-block:visited:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.collection.blocks .column-row {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.collection.blocks .column-row:last-of-type {
  margin-bottom: 0 !important;
}
.collection.blocks .column-row.max-items-4 .block, .collection.blocks .column-row.max-items-4 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 23.5%;
  -moz-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
}
.collection.blocks .column-row.max-items-3 .block, .collection.blocks .column-row.max-items-3 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 32%;
  -moz-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
}
.collection.blocks .column-row.max-items-2 .block, .collection.blocks .column-row.max-items-2 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 49%;
  -moz-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
}
.collection.blocks .column-row.max-items-1 .block, .collection.blocks .column-row.max-items-1 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.collection.blocks .block, .collection.blocks .block:visited {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #f1f1f1;
  margin-right: 2%;
  text-decoration: none;
}
.collection.blocks .block:last-of-type, .collection.blocks .block:visited:last-of-type {
  margin-right: 0;
}
.collection.blocks .block .thumb, .collection.blocks .block:visited .thumb {
  margin-bottom: 15px;
}
.collection.blocks .block h2, .collection.blocks .block:visited h2 {
  margin: 0 0 15px 0;
}
.collection.blocks .block .button, .collection.blocks .block .form-footer .submit-form, .form-footer .collection.blocks .block .submit-form, .collection.blocks .block .btn, .collection.blocks .block a[class^="btn--"], .collection.blocks .block .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block a, .collection.blocks .block .more-link, .collection.blocks .block:visited .button, .collection.blocks .block:visited .form-footer .submit-form, .form-footer .collection.blocks .block:visited .submit-form, .collection.blocks .block:visited .btn, .collection.blocks .block:visited a[class^="btn--"], .collection.blocks .block:visited .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block:visited a, .collection.blocks .block:visited .more-link {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin-top: 15px;
}
.collection.blocks .block .content-wrapper, .collection.blocks .block:visited .content-wrapper {
  padding: 0 15px 15px 15px;
}
.collection.blocks .block .content-wrapper .date, .collection.blocks .block:visited .content-wrapper .date {
  margin-bottom: 10px;
}
.collection.blocks .block .content-wrapper .date span, .collection.blocks .block:visited .content-wrapper .date span {
  margin-right: 5px;
}
.collection.blocks .block .content-wrapper .date span:last-of-type, .collection.blocks .block:visited .content-wrapper .date span:last-of-type {
  margin-right: 0;
}
.collection.blocks .block:last-of-type, .collection.blocks .block:visited:last-of-type {
  margin-right: 0;
}
.collection.blocks .block:hover .button, .collection.blocks .block:hover .form-footer .submit-form, .form-footer .collection.blocks .block:hover .submit-form, .collection.blocks .block:hover .btn, .collection.blocks .block:hover a[class^="btn--"], .collection.blocks .block:hover .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block:hover a, .collection.blocks .block:hover .more-link, .collection.blocks .block:visited:hover .button, .collection.blocks .block:visited:hover .form-footer .submit-form, .form-footer .collection.blocks .block:visited:hover .submit-form, .collection.blocks .block:visited:hover .btn, .collection.blocks .block:visited:hover a[class^="btn--"], .collection.blocks .block:visited:hover .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block:visited:hover a, .collection.blocks .block:visited:hover .more-link {
  background: #ce7514;
}

.collection.gallery .gallery-row {
  margin-bottom: 20px;
}
.collection.gallery .gallery-row:last-of-type {
  margin-bottom: 0;
}
.collection.gallery .gallery-row .gallery-item, .collection.gallery .gallery-row .gallery-item:visited {
  -webkit-box-flex: 23.5%;
  -moz-box-flex: 23.5%;
  box-flex: 23.5%;
  -webkit-flex: 23.5%;
  -moz-flex: 23.5%;
  -ms-flex: 23.5%;
  flex: 23.5%;
  max-width: 23.5%;
  margin-right: 2%;
}
.collection.gallery .gallery-row .gallery-item img, .collection.gallery .gallery-row .gallery-item:visited img {
  width: 100%;
  height: auto;
  display: block;
}
.collection.gallery .gallery-row .gallery-item:last-of-type, .collection.gallery .gallery-row .gallery-item:visited:last-of-type {
  margin-right: 0;
}
.collection.gallery .gallery-row a.gallery-item:hover, .collection.gallery .gallery-row a.gallery-item:visited:hover {
  opacity: .8;
}

.block-column {
  border-radius: 0;
  background: #f1f1f1;
  padding: 15px;
}
.block-column * {
  margin-bottom: 15px;
}
.block-column *:last-child {
  margin: 15px 0 0 0;
}

.collection {
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.collection.loading {
  opacity: 0.6;
}
.collection.loading .loader {
  opacity: 1;
}
.collection .loader {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.collection .loader > div {
  background: #ea8f2b;
  border-radius: 0;
}

.filter-column .filter-wrapper {
  background: #f1f1f1;
  padding: 10px 15px;
}
.filter-column .filter-items .filter {
  display: block;
  margin-bottom: 2px;
  border-radius: 0;
  background: #ea8f2b;
  color: #FFF;
  padding: 7px 14px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.filter-column .filter-items .filter:hover {
  padding: 7px 14px 7px 21px;
  background: #e58317;
}
.filter-column .filter-items .filter.active {
  background: #7eb974;
  padding: 7px 14px;
}
.filter-column h2 {
  background: #f1f1f1;
  padding: 0 10px 5px 10px;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 15px;
}
.filter-column .search {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 15px;
}
.filter-column .search input[type="text"] {
  border: 1px solid #f1f1f1;
  color: #444;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  box-shadow: none;
  border: 1px solid #ccc;
  border-right: none;
  width: calc(100% - 44px);
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.filter-column .search input[type="text"]:focus {
  border: 1px solid #ea8f2b;
  border-right: none;
}
.filter-column .search .submit {
  width: 44px;
  float: right;
  height: 39px;
  display: inline-block;
  position: relative;
  background: #ea8f2b;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.filter-column .search .submit:after {
  content: "\f002";
  position: absolute;
  text-align: center;
  font-family: fontAwesome;
  color: #FFF;
  width: 44px;
  top: 50%;
  right: 0;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.filter-column .search .submit:hover {
  background: #7eb974;
}
.filter-column .search:after {
  content: "";
  display: block;
  clear: both;
}

.map-column h2 {
  margin-bottom: 30px;
}
.map-column #googleMap {
  min-height: 250px !important;
}

.cta-column {
  background: #ea8f2b;
  text-align: center;
  padding: 30px;
  position: relative;
}
.cta-column h1, .cta-column h2, .cta-column h3, .cta-column p {
  color: #FFF;
  font-size: 18px;
  font-size: 1.125rem;
}
.cta-column .button, .cta-column .form-footer .submit-form, .form-footer .cta-column .submit-form, .cta-column .btn, .cta-column a[class^="btn--"], .cta-column .photo .section-wrapper a, .photo .section-wrapper .cta-column a, .cta-column .more-link {
  margin-top: 30px;
  background: #7eb974;
  position: relative;
  border-bottom: 10px solid #60a654;
  padding: 12px 58px 12px 30px;
  font-size: 20px;
  font-size: 1.25rem;
}
.cta-column .button:hover, .cta-column .form-footer .submit-form:hover, .form-footer .cta-column .submit-form:hover, .cta-column .btn:hover, .cta-column a[class^="btn--"]:hover, .cta-column .photo .section-wrapper a:hover, .photo .section-wrapper .cta-column a:hover, .cta-column .more-link:hover {
  background: #684467;
  border-bottom: 10px solid #493048;
}
.cta-column .button:after, .cta-column .form-footer .submit-form:after, .form-footer .cta-column .submit-form:after, .cta-column .btn:after, .cta-column a[class^="btn--"]:after, .cta-column .photo .section-wrapper a:after, .photo .section-wrapper .cta-column a:after, .cta-column .more-link:after {
  content: "\f054";
  font-family: fontAwesome;
  position: absolute;
  right: 30px;
  top: 50%;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section .fullwidth .cta-column {
  padding: 30px 20%;
}

.stickem {
  width: 320px;
}

.section-nav .section-link {
  background: #ea8f2b;
  color: #FFF;
  padding: 7px 14px;
  text-decoration: none;
  border-bottom: 1px dotted #FFF;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.section-nav .section-link:hover {
  background: #e58317;
}
.section-nav .section-link.active {
  background: #7eb974;
}
.section-nav .section-link:last-of-type {
  border-bottom: none;
}

.section .anchor {
  position: relative;
  top: -30px;
  display: block;
}

#main {
  position: relative;
}

.column.cta-column {
  background: #ea8f2b;
  text-align: center;
  padding: 30px;
  position: relative;
}
.column.cta-column h1, .column.cta-column h2, .column.cta-column h3, .column.cta-column p {
  color: #FFF;
  font-size: 18px;
  font-size: 1.125rem;
}
.column.cta-column .button, .column.cta-column .form-footer .submit-form, .form-footer .column.cta-column .submit-form, .column.cta-column .btn, .column.cta-column a[class^="btn--"], .column.cta-column .photo .section-wrapper a, .photo .section-wrapper .column.cta-column a, .column.cta-column .more-link {
  margin-top: 30px;
  background: #7eb974;
  position: relative;
  border-bottom: 10px solid #60a654;
  padding: 12px 58px 12px 30px;
  font-size: 20px;
  font-size: 1.25rem;
}
.column.cta-column .button:hover, .column.cta-column .form-footer .submit-form:hover, .form-footer .column.cta-column .submit-form:hover, .column.cta-column .btn:hover, .column.cta-column a[class^="btn--"]:hover, .column.cta-column .photo .section-wrapper a:hover, .photo .section-wrapper .column.cta-column a:hover, .column.cta-column .more-link:hover {
  background: #684467;
  border-bottom: 10px solid #493048;
}
.column.cta-column .button:after, .column.cta-column .form-footer .submit-form:after, .form-footer .column.cta-column .submit-form:after, .column.cta-column .btn:after, .column.cta-column a[class^="btn--"]:after, .column.cta-column .photo .section-wrapper a:after, .photo .section-wrapper .column.cta-column a:after, .column.cta-column .more-link:after {
  content: "\f054";
  font-family: fontAwesome;
  position: absolute;
  right: 30px;
  top: 50%;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.section .fullwidth .cta-column {
  padding: 30px 20%;
}

.column.filter-column .filter-wrapper {
  background: #f1f1f1;
  padding: 10px 15px;
}
.column.filter-column .filter-items .filter {
  display: block;
  margin-bottom: 2px;
  border-radius: 0;
  background: #ea8f2b;
  color: #FFF;
  padding: 7px 14px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.column.filter-column .filter-items .filter:hover {
  padding: 7px 14px 7px 21px;
  background: #e58317;
}
.column.filter-column .filter-items .filter.active {
  background: #7eb974;
  padding: 7px 14px;
}
.column.filter-column h2 {
  background: #f1f1f1;
  padding: 0 10px 5px 10px;
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 15px;
}
.column.filter-column .search {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  border-bottom: 2px solid #d8d8d8;
  padding-bottom: 15px;
}
.column.filter-column .search input[type="text"] {
  border: 1px solid #f1f1f1;
  color: #444;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  box-shadow: none;
  border: 1px solid #ccc;
  border-right: none;
  width: calc(100% - 44px);
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.column.filter-column .search input[type="text"]:focus {
  border: 1px solid #ea8f2b;
  border-right: none;
}
.column.filter-column .search .submit {
  width: 44px;
  float: right;
  height: 39px;
  display: inline-block;
  position: relative;
  background: #ea8f2b;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.column.filter-column .search .submit:after {
  content: "\f002";
  position: absolute;
  text-align: center;
  font-family: fontAwesome;
  color: #FFF;
  width: 44px;
  top: 50%;
  right: 0;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.column.filter-column .search .submit:hover {
  background: #7eb974;
}
.column.filter-column .search:after {
  content: "";
  display: block;
  clear: both;
}

.collection.gallery .gallery-row {
  margin-bottom: 20px;
}
.collection.gallery .gallery-row:last-of-type {
  margin-bottom: 0;
}
.collection.gallery .gallery-row .gallery-item, .collection.gallery .gallery-row .gallery-item:visited {
  -webkit-box-flex: 23.5%;
  -moz-box-flex: 23.5%;
  box-flex: 23.5%;
  -webkit-flex: 23.5%;
  -moz-flex: 23.5%;
  -ms-flex: 23.5%;
  flex: 23.5%;
  max-width: 23.5%;
  margin-right: 2%;
}
.collection.gallery .gallery-row .gallery-item img, .collection.gallery .gallery-row .gallery-item:visited img {
  width: 100%;
  height: auto;
  display: block;
}
.collection.gallery .gallery-row .gallery-item:last-of-type, .collection.gallery .gallery-row .gallery-item:visited:last-of-type {
  margin-right: 0;
}
.collection.gallery .gallery-row a.gallery-item:hover, .collection.gallery .gallery-row a.gallery-item:visited:hover {
  opacity: .8;
}

.item-gutter {
  width: 2%;
  display: inline-block;
}

.collection.gallery.masonry .gallery-item {
  width: 32%;
  margin-bottom: 15px;
}

.collection.gallery.masonry .children-4 .gallery-item {
  width: 23%;
}

.collection.gallery.masonry .children-3 .gallery-item {
  width: 32%;
}

.collection.gallery.masonry .children-2 .gallery-item {
  width: 49%;
}

.column.block-column {
  border-radius: 0;
  background: #f1f1f1;
  padding: 15px;
}
.column.block-column * {
  margin-bottom: 15px;
}
.column.block-column *:last-child {
  margin: 15px 0 0 0;
}

.column.map-column h2 {
  margin-bottom: 30px;
}
.column.map-column #googleMap {
  min-height: 250px !important;
}

.column.slider-column {
  margin-bottom: 35px;
}
.column.slider-column .main-gallery.nav-arrows-true {
  padding: 0 60px;
}
.column.slider-column .main-gallery .gallery-cell {
  margin-right: 2%;
}
.column.slider-column .main-gallery .gallery-cell img {
  width: 100%;
  display: block;
  height: auto;
}
.column.slider-column .main-gallery.images-1 .gallery-cell {
  width: 100%;
}
.column.slider-column .main-gallery.images-2 .gallery-cell {
  width: 49%;
}
.column.slider-column .main-gallery.images-3 .gallery-cell {
  width: 32.5%;
}
.column.slider-column .main-gallery.images-4 .gallery-cell {
  width: 23.5%;
}
.column.slider-column .main-gallery.images-5 .gallery-cell {
  width: 18.4%;
}
.column.slider-column .flickity-prev-next-button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background: #ea8f2b;
}
.column.slider-column .flickity-prev-next-button:hover {
  background: #684467;
}
.column.slider-column .flickity-prev-next-button .arrow {
  fill: #fff;
}
.column.slider-column .flickity-prev-next-button.previous {
  left: 0;
}
.column.slider-column .flickity-prev-next-button.next {
  right: 0;
}
.column.slider-column .flickity-page-dots {
  bottom: -35px;
  left: 0;
}
.column.slider-column .flickity-page-dots .dot.is-selected {
  background: #ea8f2b;
}
.column.slider-column .gallery-nav {
  margin-top: 30px;
}
.column.slider-column .gallery-nav img {
  width: 75px;
  height: auto;
  margin-right: 10px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.column.slider-column .gallery-nav img:last-child {
  margin-right: 0;
}
.column.slider-column .gallery-nav img:hover, .column.slider-column .gallery-nav img.is-selected {
  border: 2px solid #ea8f2b;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.column.socials .socials-icons a, .column.socials .socials-icons a:visited {
  line-height: 100%;
}

.column.video > h2 {
  margin-bottom: 15px;
}
.column.video .video-wrapper {
  position: relative;
  cursor: pointer;
}
.column.video .video-wrapper .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
}
.column.video .video-wrapper .video-overlay:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 80px;
  height: 80px;
  z-index: 101;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background: #ea8f2b;
  border-radius: 0;
  border-radius: 50%;
}
.column.video .video-wrapper .video-overlay:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -5px;
  border: 20px solid #fff;
  border-color: transparent transparent transparent #fff;
  width: 0;
  height: 0;
  z-index: 102;
}
.column.video .video-wrapper .video-overlay:before, .column.video .video-wrapper .video-overlay:after {
  pointer-events: none;
}
.column.video .video-wrapper .video-overlay:hover:before {
  background: #684467;
}
.column.video .video-wrapper:after, .column.video .video-wrapper:before {
  display: none;
}

.collection.list .block-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100% !important;
}
.collection.list .list-block, .collection.list .list-block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  background: #f8f8f8;
  padding: 10px 15px 5px 15px;
  text-decoration: none;
  display: block;
  border-bottom: 5px solid transparent;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}
.collection.list .list-block .date, .collection.list .list-block:visited .date {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: white;
}
.collection.list .list-block h2, .collection.list .list-block:visited h2 {
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.collection.list .list-block:hover, .collection.list .list-block:visited:hover {
  border-bottom: 5px solid #ea8f2b;
}
.collection.list .list-block:hover .date, .collection.list .list-block:visited:hover .date {
  color: #efa859;
}
.collection.list .list-block:hover h2, .collection.list .list-block:visited:hover h2 {
  color: #ea8f2b;
}
.collection.list .list-block:last-of-type, .collection.list .list-block:visited:last-of-type {
  margin: 0;
}

.section .fullwidth .collection.list .list-block, .section .fullwidth .collection.list .list-block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 49%;
  -moz-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  margin-right: 2%;
}
.section .fullwidth .collection.list .list-block:nth-of-type(even), .section .fullwidth .collection.list .list-block:visited:nth-of-type(even) {
  margin-right: 0;
}
.section .fullwidth .collection.list .list-block:nth-last-child(-n+2), .section .fullwidth .collection.list .list-block:visited:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.collection.blocks .column-row {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.collection.blocks .column-row:last-of-type {
  margin-bottom: 0 !important;
}
.collection.blocks .column-row.max-items-4 .block, .collection.blocks .column-row.max-items-4 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 23.5%;
  -moz-flex: 0 0 23.5%;
  -ms-flex: 0 0 23.5%;
  flex: 0 0 23.5%;
}
.collection.blocks .column-row.max-items-3 .block, .collection.blocks .column-row.max-items-3 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 32%;
  -moz-flex: 0 0 32%;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
}
.collection.blocks .column-row.max-items-2 .block, .collection.blocks .column-row.max-items-2 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 49%;
  -moz-flex: 0 0 49%;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
}
.collection.blocks .column-row.max-items-1 .block, .collection.blocks .column-row.max-items-1 .block:visited {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.collection.blocks .block, .collection.blocks .block:visited {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #f1f1f1;
  margin-right: 2%;
  text-decoration: none;
}
.collection.blocks .block:last-of-type, .collection.blocks .block:visited:last-of-type {
  margin-right: 0;
}
.collection.blocks .block .thumb, .collection.blocks .block:visited .thumb {
  margin-bottom: 15px;
}
.collection.blocks .block h2, .collection.blocks .block:visited h2 {
  margin: 0 0 15px 0;
}
.collection.blocks .block .button, .collection.blocks .block .form-footer .submit-form, .form-footer .collection.blocks .block .submit-form, .collection.blocks .block .btn, .collection.blocks .block a[class^="btn--"], .collection.blocks .block .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block a, .collection.blocks .block .more-link, .collection.blocks .block:visited .button, .collection.blocks .block:visited .form-footer .submit-form, .form-footer .collection.blocks .block:visited .submit-form, .collection.blocks .block:visited .btn, .collection.blocks .block:visited a[class^="btn--"], .collection.blocks .block:visited .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block:visited a, .collection.blocks .block:visited .more-link {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin-top: 15px;
}
.collection.blocks .block .content-wrapper, .collection.blocks .block:visited .content-wrapper {
  padding: 0 15px 15px 15px;
}
.collection.blocks .block .content-wrapper .date, .collection.blocks .block:visited .content-wrapper .date {
  margin-bottom: 10px;
}
.collection.blocks .block .content-wrapper .date span, .collection.blocks .block:visited .content-wrapper .date span {
  margin-right: 5px;
}
.collection.blocks .block .content-wrapper .date span:last-of-type, .collection.blocks .block:visited .content-wrapper .date span:last-of-type {
  margin-right: 0;
}
.collection.blocks .block:last-of-type, .collection.blocks .block:visited:last-of-type {
  margin-right: 0;
}
.collection.blocks .block:hover .button, .collection.blocks .block:hover .form-footer .submit-form, .form-footer .collection.blocks .block:hover .submit-form, .collection.blocks .block:hover .btn, .collection.blocks .block:hover a[class^="btn--"], .collection.blocks .block:hover .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block:hover a, .collection.blocks .block:hover .more-link, .collection.blocks .block:visited:hover .button, .collection.blocks .block:visited:hover .form-footer .submit-form, .form-footer .collection.blocks .block:visited:hover .submit-form, .collection.blocks .block:visited:hover .btn, .collection.blocks .block:visited:hover a[class^="btn--"], .collection.blocks .block:visited:hover .photo .section-wrapper a, .photo .section-wrapper .collection.blocks .block:visited:hover a, .collection.blocks .block:visited:hover .more-link {
  background: #ce7514;
}

.block, .block-post {
  position: relative;
}
.block .rating-wrapper, .block-post .rating-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  margin-top: 0;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.block .rating-wrapper .rating-value i, .block-post .rating-wrapper .rating-value i {
  font-size: 80px;
  font-size: 5rem;
}
.block .rating-wrapper .rating-value span, .block-post .rating-wrapper .rating-value span {
  font-size: 18px;
  font-size: 1.125rem;
}

.collection {
  position: relative;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.collection.loading {
  opacity: 0.6;
}
.collection.loading .loader {
  opacity: 1;
}
.collection .loader {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.collection .loader > div {
  background: #ea8f2b;
  border-radius: 0;
}

.collection.blocks.masonry {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  display: block;
  width: 100%;
}
.collection.blocks.masonry .block {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 32%;
  margin-bottom: 15px;
  display: block;
  margin-right: 0 !important;
}

.collection h2 {
  margin-bottom: 10px;
}

.section .anchor {
  position: relative;
  top: -30px;
  display: block;
}

.rating-counter {
  list-style: none;
  padding: 0;
  background: #f1f1f1;
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 15px;
}
.rating-counter li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.rating-counter li i {
  color: #ea8f2b;
  font-size: 24px;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.rating-counter li:last-of-type {
  margin-right: 0;
}
.rating-counter:hover > li i {
  color: #7eb974;
}
.rating-counter > li:hover ~ li i {
  color: #ea8f2b;
}
.rating-counter.rated {
  position: relative;
  pointer-events: none;
  opacity: .5;
}

.rating-wrapper {
  margin-top: 15px;
}
.rating-wrapper div > span {
  font-weight: bold;
}

.total-rating-wrapper h2 {
  margin-bottom: 5px;
}

.rating-value {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.rating-value i {
  font-size: 100px;
  font-size: 6.25rem;
  color: #ea8f2b;
}
.rating-value span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  color: #FFF;
  font-size: 24px;
  font-size: 1.5rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rating-value.rated {
  -webkit-animation: rated-animation 0.6s forwards;
  -moz-animation: rated-animation 0.6s forwards;
  animation: rated-animation 0.6s forwards;
}
@-webkit-keyframes rated-animation {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes rated-animation {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes rated-animation {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.rating-count {
  font-size: 14px;
  font-size: 0.875rem;
  width: 100%;
  text-align: center;
}
.rating-count:focus .rating-value {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

.section-nav .section-link {
  background: #ea8f2b;
  color: #FFF;
  padding: 7px 14px;
  text-decoration: none;
  border-bottom: 1px dotted #FFF;
  display: block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.section-nav .section-link:hover {
  background: #e58317;
}
.section-nav .section-link.active {
  background: #7eb974;
}
.section-nav .section-link:last-of-type {
  border-bottom: none;
}

/**
 * Blog CSS file  
 * Styling for blog
 *
 * @package ChefOehlala
 * @since 2016
 */
/**
 * Overview:
 */
.block-row {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 0;
  margin-bottom: 15px;
}
.block-row:last-of-type {
  margin-bottom: 0;
}

.gotopage, .gotopage:visited {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 30px;
  position: relative;
  left: 50%;
  color: #fff;
}

.overview-nav {
  text-transform: uppercase;
}
.overview-nav .left {
  float: left;
}
.overview-nav .left i {
  margin-right: 5px;
}
.overview-nav .right {
  float: right;
}
.overview-nav .right i {
  margin-left: 5px;
}

/**
 * Detail:
 */
.blog-detail {
  max-width: 100%;
}
.blog-detail .container {
  max-width: 770px;
}
.blog-detail .thumb {
  position: relative;
}
.blog-detail .thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.blog-detail .content-wrapper {
  margin: 30px 0;
}
.blog-detail .content-wrapper .share-buttons {
  margin-top: 30px;
}

.more-link, .more-link:visited {
  color: #fff !important;
}
.more-link:hover, .more-link:visited:hover {
  background: #ce7514 !important;
}

.overview.contents .post-wrapper {
  width: 630px;
  margin: 0 auto;
}
.overview.contents .block {
  padding: 30px 0 15px 0;
  margin-right: 0;
}
.overview.contents .block .thumb {
  background: none;
}
.overview.contents .block .thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.overview.contents .block:hover .button, .overview.contents .block:hover .form-footer .submit-form, .form-footer .overview.contents .block:hover .submit-form, .overview.contents .block:hover .btn, .overview.contents .block:hover a[class^="btn--"], .overview.contents .block:hover .photo .section-wrapper a, .photo .section-wrapper .overview.contents .block:hover a, .overview.contents .block:hover .more-link {
  background: #ea8f2b;
}
.overview.contents .block:hover .thumb {
  opacity: 1;
}

/**
 * Page CSS file
 * Styling for general pages
 *
 * @package ChefOehlala
 * @since 2016
 */
.page-title, .pagetitle {
  margin-bottom: 30px;
}

.page-not-found {
  padding: 50px 0;
}
.page-not-found h2 {
  margin-bottom: 30px;
}
.page-not-found .button, .page-not-found .form-footer .submit-form, .form-footer .page-not-found .submit-form, .page-not-found .btn, .page-not-found a[class^="btn--"], .page-not-found .photo .section-wrapper a, .photo .section-wrapper .page-not-found a, .page-not-found .more-link {
  margin-top: 30px;
}
.page-not-found .button i, .page-not-found .form-footer .submit-form i, .form-footer .page-not-found .submit-form i, .page-not-found .btn i, .page-not-found a[class^="btn--"] i, .page-not-found .photo .section-wrapper a i, .photo .section-wrapper .page-not-found a i, .page-not-found .more-link i {
  color: #FFF;
}

.recipe-contents .thumb {
  margin-bottom: 30px;
}
.recipe-contents .thumb img {
  max-width: 100%;
  height: auto;
  display: block;
}

.recipe-contents {
  margin-bottom: 30px;
}
.recipe-contents .gallery-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.recipe-contents .gallery-wrapper .picture-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.recipe-information {
  background: #f1f1f1;
  padding: 30px;
  margin: 30px 0;
}

.nutrition-information {
  background: #f1f1f1;
  padding: 30px;
}
.nutrition-information h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #444;
}
.nutrition-information span {
  display: block;
  border-bottom: 2px dotted rgba(68, 68, 68, 0.2);
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.ingredient-wrapper {
  background: #f1f1f1;
  padding: 30px;
}
.ingredient-wrapper h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #444;
}
.ingredient-wrapper .ingredient-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px dotted rgba(68, 68, 68, 0.2);
  padding-bottom: 2px;
  margin-bottom: 2px;
}
.ingredient-wrapper .ingredient-row .ingredient {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 80%;
  -moz-flex: 0 1 80%;
  -ms-flex: 0 1 80%;
  flex: 0 1 80%;
}
.ingredient-wrapper .ingredient-row .quantity {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 20%;
  -moz-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
}

.recipe-description {
  margin-bottom: 30px;
}

.preperation {
  margin: 30px 0;
}

.recipe-title {
  margin-top: 0;
}

.author-block {
  background: #f1f1f1;
  padding: 30px;
  margin-top: 30px;
}
.author-block h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #444;
}
.author-block .author-name {
  margin-bottom: 5px;
}

.main-content-wrapper {
  margin-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}
.main-content-wrapper .left-side {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 30px;
}
.main-content-wrapper .right-side {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 1 300px;
  -moz-flex: 0 1 300px;
  -ms-flex: 0 1 300px;
  flex: 0 1 300px;
}

/**
 * Responsive components CSS file
 *
 * @package ChefOehlala
 * @since 2016
 */
@media only screen and (max-width: 600px) {
  .form .form-fields .field-row {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
  }
  .form .form-fields .field-row .field-wrapper:nth-child(odd) {
    margin-right: 0;
  }
  .form .form-fields .field-row .field-wrapper {
    margin-right: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .form .form-fields .field-row .field-wrapper span {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .form .form-fields .field-row .field-wrapper.html-field {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .single-nav {
    padding: 30px 0 0 0;
  }
  .single-nav .container {
    padding: 0;
  }
}
/**
 * Responsive components CSS file
 *
 * @package ChefOehlala
 * @since 2016
 */
@media only screen and (max-width: 1220px) {
  .has-section-nav .column-wrapper {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .has-section-nav .column-wrapper .collection.blocks {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .has-section-nav .column-wrapper .column.filter-column {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    box-ordinal-group: -1;
    -webkit-order: -1;
    -moz-order: -1;
    order: -1;
    -ms-flex-order: -1;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 1120px) {
  .slider-column .main-gallery .gallery-cell {
    width: 23%;
  }
}
@media only screen and (max-width: 1024px) {
  .column.slider-column .main-gallery.images-5 .gallery-cell {
    width: 23.5%;
  }

  .collection.blocks .column-row.max-items-4 .block {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 49%;
    -moz-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    margin: 0 2% 20px 0;
  }
  .collection.blocks .column-row.max-items-4 .block:nth-of-type(even) {
    margin-right: 0;
  }
  .collection.blocks .column-row.max-items-4 .block:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 1020px) {
  .collection.gallery .gallery-row {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 0;
  }
  .collection.gallery .gallery-row .gallery-item, .collection.gallery .gallery-row .gallery-item:visited {
    -webkit-box-flex: 49%;
    -moz-box-flex: 49%;
    box-flex: 49%;
    -webkit-flex: 49%;
    -moz-flex: 49%;
    -ms-flex: 49%;
    flex: 49%;
    max-width: 49%;
    margin: 0 2% 20px 0;
  }
  .collection.gallery .gallery-row .gallery-item:nth-of-type(even), .collection.gallery .gallery-row .gallery-item:visited:nth-of-type(even) {
    margin-right: 0;
  }

  .column.slider-column .main-gallery.images-4 .gallery-cell, .column.slider-column .main-gallery.images-5 .gallery-cell {
    width: 32.5%;
  }

  .has-section-nav {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .has-section-nav .sticky-kit {
    position: static !important;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    box-ordinal-group: -1;
    -webkit-order: -1;
    -moz-order: -1;
    order: -1;
    -ms-flex-order: -1;
  }
  .has-section-nav .content-container {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 800px) {
  .collection.blocks .column-row.max-items-3 {
    padding: 0 10%;
  }
  .collection.blocks .column-row.max-items-3 .block {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 0 30px 0;
  }
  .collection.blocks .column-row.max-items-3 .block:last-of-type {
    margin-bottom: 0;
  }

  .column.slider-column .main-gallery.images-3 .gallery-cell, .column.slider-column .main-gallery.images-4 .gallery-cell, .column.slider-column .main-gallery.images-5 .gallery-cell {
    width: 49%;
  }
}
@media only screen and (max-width: 768px) {
  .column-row .collection.list {
    margin-right: 0;
    width: 100%;
    display: block;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
  }

  .column-row > * {
    margin-bottom: 30px;
  }
  .column-row > *:last-child {
    margin-bottom: 0 !important;
  }

  .column-row .collection {
    margin-right: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100% !important;
    -moz-flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }

  .section .filter-column {
    -webkit-box-ordinal-group: -1;
    -moz-box-ordinal-group: -1;
    box-ordinal-group: -1;
    -webkit-order: -1;
    -moz-order: -1;
    order: -1;
    -ms-flex-order: -1;
    margin-bottom: 30px !important;
  }

  .section .column {
    margin-bottom: 30px;
  }
  .section .column:last-of-type {
    margin-bottom: 0;
  }

  .slider-column .main-gallery .gallery-cell {
    width: 32%;
  }
}
@media only screen and (max-width: 767px) {
  .collection.blocks .column-row.max-items-4 {
    padding: 0 10%;
  }
  .collection.blocks .column-row.max-items-4 .block {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 0 30px 0 !important;
  }
  .collection.blocks .column-row.max-items-4 .block:last-of-type {
    margin-bottom: 0 !important;
  }

  .section .fullwidth .collection.list .list-block {
    margin-right: 0;
    width: 100%;
    display: block;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    margin-bottom: 10px !important;
  }
  .section .fullwidth .collection.list .list-block:last-of-type {
    margin-bottom: 0 !important;
  }

  .overview-nav a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .overview-nav a div {
    display: block;
    text-align: center;
    float: none !important;
    clear: both;
  }
  .overview-nav a:last-of-type {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .section .fullwidth .collection.list li {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 0 10px 0 !important;
  }
  .section .fullwidth .collection.list li:last-of-type {
    margin-bottom: 0 !important;
  }

  .collection.blocks .column-row.max-items-3, .collection.blocks .column-row.max-items-4 {
    padding: 0;
  }

  .column.slider-column .main-gallery .gallery-cell {
    width: 100%;
  }

  .collection.blocks .column-row.max-items-2 {
    margin-bottom: 30px;
  }
  .collection.blocks .column-row.max-items-2 .block {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 0 30px 0;
  }
  .collection.blocks .column-row.max-items-2 .block:last-of-type {
    margin-bottom: 0;
  }

  .section .fullwidth .cta-column {
    padding: 30px;
  }

  .column.slider-column .main-gallery.images-2 .gallery-cell, .column.slider-column .main-gallery.images-3 .gallery-cell, .column.slider-column .main-gallery.images-4 .gallery-cell, .column.slider-column .main-gallery.images-5 .gallery-cell {
    width: 100%;
  }

  .slider-column .main-gallery .gallery-cell {
    width: 49%;
  }
}
@media only screen and (max-width: 480px) {
  .column.slider-column .main-gallery {
    padding: 0;
  }

  .column.slider-column .flickity-prev-next-button {
    display: none;
  }

  .column.slider-column .main-gallery.nav-arrows-true {
    padding: 0;
  }

  .collection.gallery .gallery-row {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
  }
  .collection.gallery .gallery-row .gallery-item, .collection.gallery .gallery-row .gallery-item:visited {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
    max-width: none;
    width: 100%;
    margin: 0 0 15px 0;
  }

  .section .five-columns {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
  }
  .section .five-columns .column {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 15px 0;
  }
}
@media only screen and (max-width: 400px) {
  .slider-column .main-gallery .gallery-cell {
    width: 100%;
  }

  .share-buttons .share-text {
    display: block;
    margin: 0 0 15px 0;
  }
}
/**
 * Responsive header CSS file 
 *
 * @package ChefOehlala
 * @since 2016
 */
@media only screen and (max-width: 1120px) {
  header .logo {
    left: 4%;
  }
  header .main-nav, header .top-nav {
    right: 4%;
  }

  .container {
    padding: 0 4%;
  }
}
@media only screen and (max-width: 1020px) {
  header.mainmenu {
    padding: 0;
    min-height: auto;
    height: 75px;
  }
  header.mainmenu .menu-switch {
    display: block;
    right: 4%;
    top: 14px;
  }
  header.mainmenu .main-nav, header.mainmenu .top-nav {
    display: none;
  }
  header.mainmenu .mobile-nav {
    display: none;
    margin-bottom: 0;
    top: 78px;
  }
  header.mainmenu .mobile-nav.fold-out {
    height: 210px;
    overflow-y: scroll;
    display: block;
    position: absolute;
    top: 74px;
    left: 0;
    background: #7eb974;
    width: 104%;
    text-align: left;
    float: none;
  }
  header.mainmenu .mobile-nav.fold-out ul {
    float: none;
    text-align: left;
  }
  header.mainmenu .mobile-nav.fold-out ul li {
    list-style: none;
    margin-left: 0;
  }
  header.mainmenu .mobile-nav.fold-out ul li .sub-menu {
    display: block;
    background: #60a654;
  }
  header.mainmenu .mobile-nav.fold-out ul li a, header.mainmenu .mobile-nav.fold-out ul li a:visited {
    color: #fff;
    padding: 6px 4%;
    border: none !important;
  }
  header.mainmenu .mobile-nav.fold-out ul li:hover {
    background: none !important;
  }
  header.mainmenu .mobile-nav.fold-out ul li:hover .sub-menu {
    background: #60a654;
    position: static;
    left: 0;
    right: auto;
    width: 100%;
  }
  header.mainmenu .mobile-nav.fold-out ul li.current-menu-item > a, header.mainmenu .mobile-nav.fold-out ul li.current-menu-item > a:visited {
    background: #ea8f2b;
  }
  header.mainmenu .mobile-nav.fold-out ul li.current-menu-item:hover a {
    background: #ea8f2b;
  }

  header .menu-switch {
    background: #ea8f2b;
  }
  header.has-top-nav nav.mobile-nav, header.has-main-nav nav.mobile-nav, header.has-top-nav.has-main-nav nav.mobile-nav {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  header.has-top-nav nav.mobile-nav.fold-out, header.has-main-nav nav.mobile-nav.fold-out, header.has-top-nav.has-main-nav nav.mobile-nav.fold-out {
    max-height: 210px;
    height: auto;
  }

  #main {
    padding-top: 75px;
  }
}
@media only screen and (max-width: 980px) {
  .footer-section .column-wrapper .column:nth-of-type(2) {
    margin-left: 2%;
  }
  .footer-section .column-row .form-column .form {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
  }
  .footer-section .column-row .form-column .form .form-fields {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
    width: 100%;
  }
  .footer-section .column-row .form-column .form .form-footer {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    float: left;
    margin-top: 15px;
    display: inline-block;
    width: auto !important;
  }
  .footer-section .column-row .column.content h2 {
    margin-top: 0;
  }
  .footer-section .column-row .column.content p {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .section .fullwidth .column.content {
    padding: 0;
  }

  footer .footer-section .column-row {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
  }
  footer .footer-section .column-row .column {
    -webkit-box-flex: none;
    -moz-box-flex: none;
    box-flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: block;
    margin: 0 0 30px 0;
  }
  footer .footer-section .column-row .column:last-of-type {
    margin-bottom: 0;
  }

  .footer-section .column-row .form-column .form .form-footer {
    float: none;
  }
}
/**
 * Responsive Page CSS file
 *
 * @package ChefOehlala
 * @since 2016
 */
@media only screen and (max-width: 768px) {
  .blog-detail, .overview.contents .post-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .section .five-columns .column {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 49%;
    -moz-flex: 0 0 49%;
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    margin-right: 2%;
    max-width: 49%;
  }
  .section .five-columns .column:nth-of-type(even) {
    margin-right: 0;
  }
  .section .five-columns .column:nth-of-type(3n) {
    margin-right: 2%;
  }
}
@media only screen and (max-width: 480px) {
  .photo .section-wrapper {
    padding: 50px 4%;
  }
}

/*# sourceMappingURL=main.css.map */
