/**
 * Variable file 
 * place global variables here:
 *
 * @package ChefOehlala
 * @since 2016
 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

$font-stack:'lato', sans-serif;
$head-stack:'lato', serif;

$white: #fff;
$black: #444;
$grey: #efefef;

$border-radius: 4px;

$firstColor: #242559;
$secondColor: #454572;
$thirdColor: #efefef;

$form-input-color: #e1e1e1;

$bgcolor: #f8f8f8;
$errorColor: #ae2d30;
$ctaColor: 	#FF69B4;

$bgColor: $bgcolor;
$font-color: $black;
